.input_type {
    &--login {
        font-size: 23px;
        border-radius: 12px;
        border-style: solid;
        border-color: rgb(205, 179, 92);
        outline: none;
        border-width: 5px;
        padding: 5px;

        &:focus {
            border-color: rgb(162, 67, 194);
        }

    }

    &--password {
        font-size: 23px;
        border-radius: 12px;
        border-style: solid;
        border-color: rgb(205, 179, 92);
        outline: none;
        border-width: 5px;
        padding: 5px;

        &:focus {
            border-color: rgb(162, 67, 194);
        }

    }

    &--submit {
        width: inherit;
        font-size: 18px;
        border-radius: 5px;
        border-style: solid;
        background-color: rgb(223, 47, 47);
        border-color: rgb(25, 226, 206);
        outline: none;
        border-width: 4px;
        padding: 5px;

        &:focus {
            border-color: rgb(162, 67, 194);
        }
    }

    &--label {
        width: fit-content;
        background-color: khaki;
        font-size: 18px;
        border-color: rgb(197, 160, 37);
        border-width: 5px;
        border-radius: 7px;
        padding-inline: 5px;
        margin-bottom: -15px;
        padding-bottom: 17px;
    }
}