.home-page {
    top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-content: center;

    &--wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 15px;

        &--element {
            background-color: #b3e1e1;
            border-radius: 6px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px;
            padding: 5px;
            width: auto;

            &--data {
                display: flex;
                flex-direction: column;
            }

            &--open_item {
                background-color: #d9ff05;
                flex-direction: column;
                margin: 5px;
                padding: 5px;
                position: absolute;
                width: 200px;
                margin-left: -86px;
                border-radius: 20px;
                text-align: center;
                left: 50%;
                right: 50%;
            }

            &--buttons {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
}
