.home-page {
    top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-content: center;

    &--wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 15px;

        &--element {
            background-color: #b3e1e1;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 5px;
            padding: 5px;
            width: auto;

            &--data {
                // display: flex;
                flex-direction: column;
            }

            &--org_name {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }

            &--main_info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                min-height: 50px;
            }

            &--open_item {
                background-color: #a1cbcb;
                border-radius: 0px 9px 9px 0px;
                flex-direction: column;
                opacity: 88%;
                padding: 5px;
                position: relative;
                text-align: center;
                width: auto;
                height: auto;
            }

            &--buttons {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 320px;
            }
        }
    }
}
