.home-page {
    top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-content: center;

    &--wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 15px;

        &--element {
            background-color: #b3e1e1;
            border-radius: 6px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px;
            padding: 5px;
            width: auto;

            &--data {
                display: flex;
                flex-direction: column;
            }

            &--buttons {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
}
