.list-item {
    &--wrapper {
        display: flex;
        flex-direction: row;

        &--label {
            padding: 3px;
            margin: 2px;
            border-radius: 5px;
            background-color: rgb(0 255 255);
        }

        &--body {
            padding: 3px;
            margin: 2px;
            border-radius: 5px;
            background-color: rgb(38 129 165);

            &--link {
                text-decoration: underline;
            }
        }
    }
}
