.list-item {
    &--wrapper {
        display: flex;
        flex-direction: row;

        &--label {
            background-color: #a1cbcb;
            border-radius: 5px;
            margin: 2px;
            padding: 3px;
        }

        &--body {
            background-color: #5eaccb;
            border-radius: 5px;
            margin: 2px;
            padding: 3px;
            max-width: 1222px;
            // max-height: 20px;

            &--link {
                text-decoration: underline;
            }
        }
    }
}
