.header--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(101, 181, 196);
    top: 0;
    position: absolute;
    width: 100%;
    height: fit-content;
}