.adminka {
    &--wrapper {
        &--header {
            background-color: #ad2800;
            display: flex;
            flex-direction: row;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            justify-content: space-between;
            width: auto;
            padding-inline: 9px;
        }
    }
}
