.modal {
    &--input_wrapper {
        &--input {
            display: flex;
            flex-direction: column;
            margin: 15px;
            background-color: rgb(122, 208, 158);

            &>* {
                font-size: 20px;
                display: flex;
                border-color: darkslategray;
                border-style: solid;
                // border-radius: 5px;
            }
        }
    }
}