.dropbtn {
    background-color: #4c53af;
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropbtn--types {
    background-color: #4c53af;
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.dropdown--types {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.dropdown-content {
    border-radius: 5px;
    border-color: #4c53af;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    text-align: end;
    top: 47px;
    right: 5px;
}

.dropdown-content-user_btn {
    border-radius: 5px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    text-align: end;
    top: 65px;
    right: 5px;
}

.dropdown-content--types {
    border-radius: 5px;
    display: none;
    position: absolute;
    right: 5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    text-align: end;
    top: 47px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    border-width: 5px;
    border-color: #4c53af;
    text-decoration: none;
    display: block;
}

.dropdown-content--types a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-user_btn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-radius: 5px;
    background-color: #f1f1f1;
}

.dropdown-content--types a:hover {
    border-radius: 5px;
    background-color: #f1f1f1;
}

.dropdown-content-user_btn a:hover {
    border-radius: 5px;
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content-user_btn {
    display: block;
}

.dropdown--types:hover .dropdown-content--types {
    display: block;
}

.dropdown:hover .dropdown--types:hover .dropbtn {
    background-color: #8d8e3e;
}
