.adm-header-home_btn {
    display: flex;
    width: fit-content;
    height: 50px;
    background-color: crimson;
    border-radius: 6px;
    margin: 3px;
    flex-direction: column;
    justify-content: center;
    align-content: center;


    &>* {
        display: flex;
        margin-bottom: 3px;
        margin-inline: 5px;
    }
}