.adm-edit-btn {
    display: flex;
    width: fit-content;
    height: fit-content;

    padding: 3px;
    border-radius: 5px;

    // border-width: 0px;
    border-style: solid;
    cursor: pointer;
    align-self: center;

    & > * {
        height: fit-content;
    }
}

.btn {
    &--ADD_2_FAVORITE {
        width: 50px;
        height: 50px;

        background-color: rgba(100, 148, 237, 0);
        border-color: rgb(12, 44, 148);
    }

    &--REMOVE_FROM_FAVORITE {
        width: 50px;
        height: 50px;

        background-color: #d4533300;
        border-color: #b0ae1d;
    }
}
