.adm-edit-btn {
    display: flex;
    width: fit-content;
    height: fit-content;

    padding: 3px;
    border-radius: 5px;

    // border-width: 0px;
    border-style: solid;
    cursor: pointer;
    align-self: center;

    & > * {
        height: fit-content;
    }
}

.btn {
    &--ADD_2_FAVORITE {
        background-color: rgba(212, 83, 51, 0);
        border-color: rgb(230, 255, 190);
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        width: auto;
    }

    &--REMOVE_FROM_FAVORITE {
        background-color: rgba(212, 83, 51, 0);
        border-color: #b0ae1d;
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        width: auto;
    }

    &--ADD_2_KEEPED {
        background-color: rgba(212, 83, 51, 0);
        border-color: rgb(255, 230, 230);
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        width: auto;
    }

    &--REMOVE_FROM_KEEPED {
        background-color: rgba(212, 83, 51, 0);
        border-color: #b0ae1d;
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        width: auto;
    }
}
