.adm-edit-btn {
    display: flex;
    width: fit-content;
    height: fit-content;

    padding: 3px;
    border-radius: 5px;

    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    align-self: center;

    &>* {
        height: fit-content;
    }
}

.btn {
    &--ADD_2_FAVORITE {
        background-color: cornflowerblue;
        border-color: rgb(12, 44, 148);
    }

    &--REMOVE_FROM_FAVORITE {
        background-color: #d45333;
        border-color: #b0ae1d;
    }
}